.app {
  min-height: 100vh;
  background: var(--details-page-bg);
  color: var(--text);
}

.content {
  padding: 2rem 1.5rem 4rem;
}

@media (min-width: 1024px) {
  .app {
    display: flex;
  }

  .content {
    flex: 1;
    padding: 4rem 6rem;
    margin-left: 103px;
  }
}
